{% extends 'layouts/master.html.twig' %}
{% block contenido %}
<h1>{{title}}</h1>
<h2>tu nombre es {{nombre}} {{apellidos}}</h2>
<hr>
{% set perro = 'pastor aleman'  %}
<h4>{{perro}}</h4>
{# trabajar con array #}
{{ dump(animales)}}
{{animales[3]}}
<hr>
{# array asociativos #}
{{ dump(aves)}}

{{ aves.tipo ~ '-' ~ aves.raza}}
{# trabajar con condiciones #}
{% if aves.tipo == 'aguila' %}
    <h3> cuidado un aguila volando </h3>
{% else %}
    <h3> no hay aguilas  ala vista </h3>
{% endif %}

{# trabajar con bucles  #}
{% if animales|length >= 0 %}
    {% for animal in animales %}
        <h2>{{animal}}  </h2>
    {% endfor %}
{% endif %}


 {% for numeros in 0..10 %}
        <h2>{{numeros}}  </h2>
    {% endfor %}

{% endblock %}


