{% extends 'layouts/master.html.twig' %}
{% block contenido %}
<h1>{{title}}</h1>
<h2>tu nombre es {{nombre}} {{apellidos}}</h2>
<hr>
{% set perro = 'pastor aleman'  %}
<h4>{{perro}}</h4>
{# trabajar con array #}
{{ dump(animales)}}
{{animales[3]}}
<hr>
{# array asociativos #}
{{ dump(aves)}}

{{ aves.tipo ~ '-' ~ aves.raza}}
{# trabajar con condiciones #}
{% if aves.tipo == 'aguila' %}
    <h3> cuidado un aguila volando </h3>
{% else %}
    <h3> no hay aguilas  ala vista </h3>
{% endif %}

{# trabajar con bucles  #}
{% if animales|length >= 0 %}
  <ul>
    {% for animal in animales %}
        <li>{{animal}}  </li>
    {% endfor %}
</ul>
{% endif %}


 <ul>
    {% for n in 0..10 %}
        <li>{{n}}  </li>
    {% endfor %}
</ul>
{# se puede trabajar con condicionales starts y end #}
{% if aves.color starts with 'g' %}
    <h3> empieza por g </h3>
{% endif %}
<hr>

{{ include('partials/funciones.html.twig' , {'nombre' : 'eduard colmenares'})}}




{% endblock %}


